apiVersion: apps/v1
kind: Deployment
metadata: { name: order-service, namespace: bookstore }
spec:
  replicas: 2
  selector: { matchLabels: { app: order-service } }
  template:
    metadata: { labels: { app: order-service } }
    spec:
      containers:
      - name: order
        image: YOUR_REGISTRY/order-service:latest
        env:
        - name: RABBIT_URL
          value: "amqp://user:pass@rabbitmq.bookstore.svc.cluster.local:5672/%2f"
        ports: [{ containerPort: 8000 }]
