apiVersion: apps/v1
kind: Deployment
metadata:
  name: recommendation-service
  labels:
    app: recommendation-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: recommendation-service
  template:
    metadata:
      labels:
        app: recommendation-service
    spec:
      containers:
      - name: recommendation
        image: YOUR_REGISTRY/recommendation-service:latest
        imagePullPolicy: IfNotPresent
        env:
        - name: HOST
          value: "0.0.0.0"
        - name: PORT
          value: "8080"
        - name: REC_STRATEGY
          value: "popular"
        - name: REC_LIMIT
          value: "5"
        - name: CATALOG_GRPC_ADDR
          value: "catalog-service:50051"
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: rds-credentials-recommendation
              key: database_url
        - name: DB_SCHEMA
          valueFrom:
            secretKeyRef:
              name: rds-credentials-recommendation
              key: schema
        ports:
        - containerPort: 8080
          name: http
---
apiVersion: v1
kind: Service
metadata:
  name: recommendation-service
  labels:
    app: recommendation-service
spec:
  selector:
    app: recommendation-service
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  type: ClusterIP
